max_wal_senders=10
wal_log_hints=on
max_replication_slots=10
hot_standby=on
shared_buffers=2GB
min_wal_size=20GB
max_wal_size=40GB
checkpoint_timeout=60min
log_checkpoints=on
fsync=off
max_connections=100
wal_sender_timeout=0
wal_level=replica
listen_addresses='127.0.0.1,{{ private_ip }}'
port=5432
wal_keep_size=10TB
shared_preload_libraries=zenith
zenith.page_server_connstring=''
zenith.zenith_tenant=c9bc8b6ea42cba805c62ee42c1637761
zenith.zenith_timeline=d03d475996d127df7839a796c3762df0
synchronous_standby_names = 'walproposer'
wal_acceptors = '{% for host in groups['safekeepers'] %}{{ hostvars[host].private_ip }}:6500{{ "," if not loop.last else "" }}{% endfor %}'
